@import components/vars
@import components/mixins

@import components/header
@import components/news
@import components/sale
@import components/payment
@import components/delivery
@import components/product
@import components/card
@import components/footer

body
    font-family: 'Inter'
    margin: 0 auto
.wrraper
    margin: 0 auto
    max-width: 1240px
    @media screen and ( max-width: 1260px )
        margin: 0 10px
.basket-wrraper
        max-width: 1180px
        margin: 0 auto
.content-wrraper
    max-width: 980px
    padding-left: 74px
        
.breadcrumbs
    a
        display: inline-block
        margin: 0
        padding: 30px 0 30px 0
        font-size: 18px
        letter-spacing: 0px
        color: #666666
        font-weight: 700
        text-decoration: none
.title-h1
    margin: 0
    margin-bottom: 24px
    font-size: 36px
    letter-spacing: 1px
    color: #4281a4
    font-weight: 700
    text-align: center




