@import components/vars
@import components/mixins

@import components/header
@import components/news
@import components/sale
@import components/payment
@import components/delivery
@import components/product
@import components/card
@import components/footer

body
    font-family: 'Inter'
    margin: 0 auto
.wrraper
    margin: 0 auto
    max-width: 1240px
    @media screen and ( max-width: 1260px )
        margin: 0 10px
.basket-wrraper
        max-width: 1180px
        margin: 0 auto
.content-wrraper
    max-width: 980px
    padding-left: 74px
        
.breadcrumbs
    p,
    a
        margin: 0
        font-size: 18px
        letter-spacing: 0px
        color: #666666
        font-weight: 700
    a
        display: inline-block
        padding: 30px 0 30px 0
        text-decoration: none
.title-h1
    margin: 0
    margin-bottom: 24px
    font-size: 36px
    letter-spacing: 1px
    color: #4281a4
    font-weight: 700
    text-align: center
.close
    margin: 0
    position: absolute
    width: 52px
    height: 52px
    background-color: #fff 
    border: 1px solid #fff 
    top: 24px
    right: 30px
    transition: all .5s ease
    &:hover
        background-color: #6ebd44
    a
        display: inline-block
        position: absolute
        width: 48px
        height: 48px
        border: 1px solid #6ebd44
        top: 1px
        left: 1px
        // &:hover
        //     border: 1px solid #fff
        &::before
            content: ''
            position: absolute
            left: 23px
            top: 7px
            height: 33px
            width: 2px
            background-color: #6ebd44 
            transform: rotate(45deg)
        &:hover::before
            background-color: #fff
        &::after
            content: ''
            position: absolute
            left: 23px
            top: 7px
            height: 33px
            width: 2px
            background-color: #6ebd44 
            transform: rotate(-45deg)
        &:hover::after
            background-color: #fff

figure



