.wrraper
    .breadcrumbs 
        p 
            a(href="index.html") Головна
            span &nbsp/&nbsp
            |Доставка
    .delivery-content 
        h1.title-h1 Доставка
        p Ми доставляємо ваше замовлення такими компаніями:
        p.delivery-company 
            img(src="img/nova-poshta.svg", alt="нова пошта")
            img(src="img/justin.svg", alt="джастін")
            img(src="img/ukrposhta.svg", alt="укр пошта")
            img(src="img/deliv.svg", alt="делівері")
            img(src="img/gunsel.svg", alt="гюнсел")
        p.text-bottom Замовлення на суму від 500 грн доставляються безкоштовно (до відділення). Замовлення до 500 грн або кур'єрська доставка 
            |оплачуються покупцем