.footer-line
    .wrraper
        p.working-time ПН-ПТ   9:00-20:00
        .location
            address м.Хмельницький вул. Геологів 8 
        p.tel 
            a(href="tel:+380972606235") +38(097)260-62-35 
            a(href="tel:+380973113384") +38(097)311-33-84 
            a(href="tel:+380638944116") +38(063)894-41-16