.footer-line
    .wrraper
        p.working-time ПН-ПТ   9:00-20:00
        p.location
            a(href="#") м.Хмельницький вул. Проскурівська 23
        p.tel
            a(href="#") +38(0ХХ)ХХ ХХ ХХ