header.header 
    .top-line
        .wrraper 
            .top
                .top-left
                    .lang
                        a(href="#") укр
                        a(href="#") рус 
                    .tel 
                        a(href="#") +38(0ХХ)ХХ ХХ ХХ  
                .logo
                    a(href="#")
                        img(src="../img/logo.svg", alt="")  
                .location
                    a(href="#") м.Хмельницький вул. Проскурівська 23 
    .wrraper
        .menu 
            ul 
                li
                    a(href="#") Каталог
                li
                    a(href="#") Новини
                li
                    a(href="#") Розпродаж
                li
                    a(href="#") Оплата
                li
                    a(href="#") Доставка
    .header-bottom-line 
        .wrraper
            .fabric-catalog 
                a(href="#") Каталог тканин
            .cart
                .basket 1200 грн
                .search 
                    form(action="") 
                        input(name="search" placeholder="Пошук" type="search")
                        button(type="submit")