header.header 
    .top-line
        .wrraper 
            .top
                .top-left
                    .lang
                        a.ukr(href="#") укр
                        a.rus(href="#") рус 
                    .tel 
                        a(href="tel:+380972606235") +38(097)260-62-35 
                        a(href="tel:+380973113384") +38(097)311-33-84 
                        a(href="tel:+380638944116") +38(063)894-41-16 
                .logo
                    a(href="index.html")
                        img(src="/img/logo.svg", alt="Світ тканин")  
                .location
                    a(href="#") м.Хмельницький вул. Геологів 8  
    .wrraper
        .menu 
            ul 
                li
                    a(href="index.html") Каталог
                li
                    a(href="news.html") Новини
                li
                    a(href="sale.html") Розпродаж
                li
                    a(href="payment.html") Оплата
                li
                    a(href="delivery.html") Доставка
    .header-bottom-line.header-bottom-line-payment
        .wrraper.fabric-catalog-payment
            .fabric-catalog
                a(href="#") Оплата
            .cart
                .basket 
                    a(href="#") 1200 грн
                .search 
                    form(action="" method="POST") 
                        input(name="search" placeholder="Пошук" type="search")
                        button(type="submit")