header.header 
    .top-line
        .wrraper 
            .top
                .top-left
                    .lang
                        a.ukr(href="#") укр
                        a.rus(href="#") рус 
                    .tel 
                        a(href="tel:+380972606235") +38(097)260-62-35 
                        a(href="tel:+380973113384") +38(097)311-33-84 
                        a(href="tel:+380638944116") +38(063)894-41-16 
                .logo
                    a(href="#")
                        img(src="../img/logo.svg", alt="")  
                .location
                    a(href="#") м.Хмельницький вул. Геологів 8 
    .wrraper
        .burger 
            span 
            span 
            span 
        .menu 
            ul 
                li
                    a(href="index.html") Каталог
                li
                    a(href="news.html") Новини
                li
                    a(href="sale.html") Розпродаж
                li
                    a(href="payment.html") Оплата
                li
                    a(href="delivery.html") Доставка
    .header-bottom-line
        .wrraper
            .fabric-catalog
                a(href="#") Каталог тканин
            .cart
                .basket 
                    a(href="#") 1200 грн
                .search 
                    form(action="" method="POST") 
                        input(name="search" placeholder="Пошук" type="search")
                        button.svg(type="submit")
                            
.items-cart 
    .basket-wrraper 
        .basket-title 
            h2 Товари в кошику
        .content-wrraper
            .basket-content
                p 
                    a(href="#")
                        img(src="../img/cart-img.png", alt="") 
                .flex
                    .basket-desc 
                        h4 Атлас
                        p   
                            ul
                                li Опис
                                li Колір
                                li Характеристики
                    .col
                        .basket-price 100 грн
                        .product-cheking 
                            button.basket-button.minus(type="submit")
                            input.custom-input(type="text" placeholder="1" value="1")
                            button.basket-button.plus(type="submit")
                        .basket-price 100 грн
                    .bin   
                        a(href="#") 
                            img(src="../img/bin.png", alt="")
                
            .basket-content
                p 
                    a(href="#")
                        img(src="../img/cart-img.png", alt="") 
                .basket-desc 
                    h4 Атлас
                    p   
                        ul
                            li Опис
                            li Колір
                            li Характеристики
                .col
                    .basket-price 100 грн
                    .product-cheking 
                        button.basket-button.minus(type="submit")
                        input.custom-input(type="text" placeholder="1" value="1")
                        button.basket-button.plus(type="submit")
                    .basket-price 100 грн
                .bin   
                    a(href="#") 
                        img(src="../img/bin.png", alt="")
                
            .basket-content
                p 
                    a(href="#")
                        img(src="../img/cart-img.png", alt="") 
                .basket-desc 
                    h4 Атлас
                    p   
                        ul
                            li Опис
                            li Колір
                            li Характеристики
                .col
                    .basket-price 100 грн
                    .product-cheking 
                        button.basket-button.minus(type="submit")
                        input.custom-input(type="text" placeholder="1" value="1")
                        button.basket-button.plus(type="submit")
                    .basket-price 100 грн
                .bin   
                    a(href="#") 
                        img(src="../img/bin.png", alt="")
                
            .order-price
                .col
                    h4 Сума замовлення
                    .basket-price 300 грн
            .basket-bottom 
                .turn-back
                    a(href="index.html") Повернутися до покупок
                .place-order
                    .col
                        a(href="#") Оформити замовлення 