header.header 
    .top-line
        .wrraper 
            .top
                .top-left
                    .lang
                        a.ukr(href="#") укр
                        a.rus(href="#") рус 
                    .tel 
                        a(href="#") +38(097)260 62 35  
                .logo
                    a(href="#")
                        img(src="../img/logo.svg", alt="")  
                .location
                    a(href="#") м.Хмельницький вул. Геологів 8 
    .wrraper
        .menu 
            ul 
                li
                    a(href="index.html") Каталог
                li
                    a(href="news.html") Новини
                li
                    a(href="sale.html") Розпродаж
                li
                    a(href="#") Оплата
                li
                    a(href="#") Доставка
    .header-bottom-line.header-bottom-line-news
        .wrraper.fabric-catalog-news
            .fabric-catalog
                a(href="#") Новини
            .cart
                .basket 
                    a(href="#") 1200 грн
                .search 
                    form(action="" method="POST") 
                        input(name="search" placeholder="Пошук" type="search")
                        button(type="submit")