.wrraper
    .breadcrumbs 
        p 
            a(href="index.html") Головна  
            span &nbsp/&nbsp
            |Новини
    .news-content
        .box
            p.news-title Відкриття нового магазину
            p
                img(src="../img/news-foto.png", alt="фотографія новини")
            p.news-date 21.05.2021
            p.news-desc Раді Вам повідомити, що компанія «Світ тканин» відкрила новий оптовий філія в місті Львів.
            p.detail 
                a(href="news-page.html") Детальніше
        .box
            p.news-title Відкриття нового магазину
            img(src="../img/news-foto.png", alt="фотографія новини")
            p.news-date 21.05.2021
            p.news-desc Раді Вам повідомити, що компанія «Світ тканин» відкрила новий оптовий філія в місті Львів.
            p.detail 
                a(href="news-page.html") Детальніше
        .box
            p.news-title Відкриття нового магазину
            img(src="../img/news-foto.png", alt="фотографія новини")
            p.news-date 21.05.2021
            p.news-desc Раді Вам повідомити, що компанія «Світ тканин» відкрила новий оптовий філія в місті Львів.
            p.detail 
                a(href="news-page.html") Детальніше
.pagination
    ul.pag-list.pag-list-news
        li
            a.arrow-left-2(href="#")
        li
            a.arrow-left-1(href="#")
        li
            a(href="#") 2
        li
            a(href="#") 3
        li
            a(href="#") 4
        li
            a(href="#") 5
        li
            a(href="#") 6
        li
            a.arrow-right-1(href="#")
        li
            a.arrow-right-2(href="#")