.wrraper
    .breadcrumbs 
        p Головна 
            span / 
            |Новини 
            span / 
            |Відкриття нового магазину
    .news-page-cont 
        h1.title-h1 Відкриття нового магазину у місті Львів!
        .page-cont
            p
                img(src="../img/news-foto1.png", alt="")
            p.page-text.p1  Раді Вам повідомити, що компанія «Світ тканин» відкрила новий 
                    |оптовий філія в місті Львів, який знаходиться за адресою:
                    |м Львів, пр. Дмитра Яворницького, 10,
                    |телефон: (050) 901 30 03,
                    |час роботи: Пн-Пт з 9:00 до 20:00.
            p.page-text У нашому оптовому шоу-румі представлений величезний вибір 
                    |тканин на які можна подивитися вживу, а також відразу зробити 
                    |замовлення і отримати його вже на наступний робочий день, так 
                    |як всі тканини у нас в наявності.