.wrraper
    .breadcrumbs 
        p 
            a(href="index.html")  Головна 
            span &nbsp/&nbsp
            |Оплата
    .payment-content 
        h1.title-h1 Оплата
        p Ви можете обрати один з трьох варіантів оплати:
        ul.pay-cont-list
            li На рахунок Приватбанку
            li Банківською картою
            li При отриманні (післяоплата)
        p.pay-text Замовлення, оплачені до 12.00, відправляються в той самий день.
            |Замовлення, оформлені в п'ятницю або неділю, відправляються на наступний день.