.card 
    .full-img
        .close-img
        .full-main-img
    .wrraper 
        .breadcrumbs
            p 
                a(href="index.html") Каталог тканин 
                span &nbsp/&nbsp
                |Ангора
        h1 Ангора
        .card-content 
            .card-img 
                .card-main-img
                    p 
                        a(href="#")
                            img(src="img/slider_test_one.jpg", alt="головне фото товару") 
                .card-aside-img 
                    p.arr.arr-up 
                        a(href="#")
                    .card-slides
                        p
                            a(href="#")
                                img(src="img/slider_test_one.jpg", alt="зменшене фото товару") 
                        p
                            a(href="#")
                                img(src="img/product.jpg", alt="зменшене фото товару") 
                        p
                            a(href="#")
                                img(src="img/color-red.jpg", alt="зменшене фото товару")
                       
                    p.arr.arr-down
                        a(href="#")
            .card-haract 
                p 
                    span Ціна : 
                    | 100 грн 
                p 
                    span Країна : 
                    | Китай
                p 
                    span Кольори : 
                .card-color 
                    .color-row-1 
                        p
                            input#card-color1(type="radio", name="color")
                            label.color-grey(for="card-color1")
                        p
                            input#card-color2(type="radio", name="color")
                            label.color-red(for="card-color2")
                        p
                            input#card-color3(type="radio", name="color")
                            label.color-brown(for="card-color3")
                        p
                            input#card-color4(type="radio", name="color")
                            label.color-blue(for="card-color4")
                        p
                            input#card-color5(type="radio", name="color")
                            label.color-yellow(for="card-color5")
                        p
                            input#card-color6(type="radio", name="color")
                            label.color-green(for="card-color6")
                        p
                            input#card-color7(type="radio", name="color")
                            label.color-grey(for="card-color7")
                        p
                            input#card-color8(type="radio", name="color")
                            label.color-red(for="card-color8")
                        p
                            input#card-color9(type="radio", name="color")
                            label.color-brown(for="card-color9")
                        p
                            input#card-color10(type="radio", name="color")
                            label.color-blue(for="card-color10")
                        p
                            input#card-color11(type="radio", name="color")
                            label.color-yellow(for="card-color11")
                        p
                            input#card-color12(type="radio", name="color")
                            label.color-green(for="card-color12")
                        p
                            input#card-color13(type="radio", name="color")
                            label.color-grey(for="card-color13")
                        p
                            input#card-color14(type="radio", name="color")
                            label.color-red(for="card-color14")
                        p
                            input#card-color15(type="radio", name="color")
                            label.color-brown(for="card-color15")
                        p
                            input#card-color16(type="radio", name="color")
                            label.color-blue(for="card-color16")
                        p
                            input#card-color17(type="radio", name="color")
                            label.color-yellow(for="card-color17")
                        p
                            input#card-color18(type="radio", name="color")
                            label.color-green(for="card-color18")
                    //- .color-row-2 
                    //- .color-row-3  
                .product-cheking 
                    .card-number
                        button.basket-button.card.minus(type="submit")
                        input.card.custom-input(type="text" placeholder="1" value="1")
                        button.basket-button.plus.card(type="submit")
                    div 
                        button.card-button(type="submit") Додати в корзину
        .description 
            h4 Опис
            p.desc-content Королівська ангора - це трикотажне полотно високої якості, в складі якого 
                |є віскоза і нейлон. Нейлон в складі полотна підвищує міцність і зносостійкість
                |тканини, а віскоза наділяє її повітропроникністю і гігроскопічністю. 
    