.card 
    .wrraper 
        .breadcrumbs
            p 
                a(href="index.html") Каталог тканин 
                span &nbsp/&nbsp
                |Ангора
        h1 Ангора
        .card-content 
            .card-img 
                .card-main-img
                    p 
                        a(href="#")
                            img(src="img/card-foto.png", alt="головне фото товару") 
                .card-aside-img 
                    p
                        a(href="")
                            img(src="img/card-foto-asaid.png", alt="зменшене фото товару") 
                    p
                        a(href="")
                            img(src="img/card-foto-asaid.png", alt="зменшене фото товару") 
                    p
                        a(href="")
                            img(src="img/card-foto-asaid.png", alt="зменшене фото товару")
            .card-haract 
                p 
                    span Ціна : 
                    | 100 грн 
                p 
                    span Країна : 
                    | Китай
                p 
                    span Кольори : 
                .card-color 
                    .color-row-1 
                        a(href="#")
                            img(src="img/color-grey.jpg", alt="сірий колір")
                        a(href="#")
                            img(src="img/color-brown.jpg", alt="коричневий колір")
                        a(href="#")
                            img(src="img/color-yelow.jpg", alt="жовтий колір")
                        a(href="#")
                            img(src="img/color-red.jpg", alt="червоний колір")
                        a(href="#")
                            img(src="img/color-blue.jpg", alt="синій колір")
                        a(href="#")
                            img(src="img/color-green.jpg", alt="зелений колір")
                    .color-row-2 
                        a(href="#")
                            img(src="img/color-grey.jpg", alt="сірий колір")
                        a(href="#")
                            img(src="img/color-brown.jpg", alt="коричневий колір")
                        a(href="#")
                            img(src="img/color-yelow.jpg", alt="жовтий колір")
                        a(href="#")
                            img(src="img/color-red.jpg", alt="червоний колір")
                        a(href="#")
                            img(src="img/color-blue.jpg", alt="синій колір")
                        a(href="#")
                            img(src="img/color-green.jpg", alt="зелений колір")
                    .color-row-3  
                        a(href="#")
                            img(src="img/color-grey.jpg", alt="сірий колір")
                        a(href="#")
                            img(src="img/color-brown.jpg", alt="коричневий колір")
                        a(href="#")
                            img(src="img/color-yelow.jpg", alt="жовтий колір")
                        a(href="#")
                            img(src="img/color-red.jpg", alt="червоний колір")
                        a(href="#")
                            img(src="img/color-blue.jpg", alt="синій колір")
                        a(href="#")
                            img(src="img/color-green.jpg", alt="зелений колір")
                .product-cheking 
                    .card-number
                        button.basket-button.minus(type="submit")
                        input.custom-input(type="text" placeholder="1" value="1")
                        button.basket-button.plus(type="submit")
                    div 
                        button.card-button(type="submit") Додати в корзину
        .description 
            h4 Опис
            p.desc-content Королівська ангора - це трикотажне полотно високої якості, в складі якого 
                |є віскоза і нейлон. Нейлон в складі полотна підвищує міцність і зносостійкість
                |тканини, а віскоза наділяє її повітропроникністю і гігроскопічністю. 