.card 
    .wrraper 
        .breadcrumbs
            p 
            a(href="index.html") Головна  
                span / 
            a(href="news.html") Каталог тканин 
                span / 
            a(href="news.html") Ангора
        h1 Ангора
        .card-content 
            .card-img 
                .card-main-img
                    p 
                        a(href="#")
                            img(src="../img/card-foto.png", alt="") 
                .card-aside-img 
                    p
                        a(href="")
                            img(src="../img/card-foto-asaid.png", alt="") 
                    p
                        a(href="")
                            img(src="../img/card-foto-asaid.png", alt="") 
                    p
                        a(href="")
                            img(src="../img/card-foto-asaid.png", alt="")
            .card-haract 
                p 
                    span Ціна : 
                    | 100 грн 
                p 
                    span Країна : 
                    | Китай
                p 
                    span Кольори : 
                .card-color 
                    .color-row-1 
                        a(href="#")
                            img(src="../img/color-grey.png", alt="")
                        a(href="#")
                            img(src="../img/color-brown.png", alt="")
                        a(href="#")
                            img(src="../img/color-yelow.png", alt="")
                        a(href="#")
                            img(src="../img/color-red.png", alt="")
                        a(href="#")
                            img(src="../img/color-blue.png", alt="")
                        a(href="#")
                            img(src="../img/color-green.png", alt="")
                    .color-row-2 
                        a(href="#")
                            img(src="../img/color-grey.png", alt="")
                        a(href="#")
                            img(src="../img/color-brown.png", alt="")
                        a(href="#")
                            img(src="../img/color-yelow.png", alt="")
                        a(href="#")
                            img(src="../img/color-red.png", alt="")
                        a(href="#")
                            img(src="../img/color-blue.png", alt="")
                        a(href="#")
                            img(src="../img/color-green.png", alt="")
                    .color-row-3  
                        a(href="#")
                            img(src="../img/color-grey.png", alt="")
                        a(href="#")
                            img(src="../img/color-brown.png", alt="")
                        a(href="#")
                            img(src="../img/color-yelow.png", alt="")
                        a(href="#")
                            img(src="../img/color-red.png", alt="")
                        a(href="#")
                            img(src="../img/color-blue.png", alt="")
                        a(href="#")
                            img(src="../img/color-green.png", alt="")
                .product-cheking 
                    .card-number
                        button.basket-button.minus(type="submit")
                        input.custom-input(type="text" placeholder="1" value="1")
                        button.basket-button.plus(type="submit")
                    div 
                        button.card-button(type="submit") Додати в корзину
        .description 
            h4 Опис
            p.desc-content Королівська ангора - це трикотажне полотно високої якості, в складі якого 
                |є віскоза і нейлон. Нейлон в складі полотна підвищує міцність і зносостійкість
                |тканини, а віскоза наділяє її повітропроникністю і гігроскопічністю. 