.section 
    .wrraper
        .product
            ul.product-list
                li
                    a(href="")
                        img(src="../img/product-2.png", alt="")
                    table 
                        tr
                            th
                                a(href="card.html")  ангора
                            th 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-2.png", alt="")
                    table 
                        tr
                            th
                                a(href="#")  ангора
                            th 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-3.png", alt="")
                    table 
                        tr
                            th
                                a(href="#")  ангора
                            th 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-4.png", alt="")
                    table 
                        tr
                            th
                                a(href="#")  ангора
                            th 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/product-2.png", alt="")
                    table 
                        tr
                            th
                                a(href="#")  ангора
                            th 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-2.png", alt="")
                    table 
                        tr
                            th
                                a(href="#")  ангора
                            th 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-3.png", alt="")
                    table 
                        tr
                            th
                                a(href="#")  ангора
                            th 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-4.png", alt="")
                    table 
                        tr
                            th
                                a(href="#")  ангора
                            th 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/product-2.png", alt="")
                    table 
                        tr
                            th
                                a(href="#")  ангора
                            th 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-2.png", alt="")
                    table 
                        tr
                            th
                                a(href="#")  ангора
                            th 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-3.png", alt="")
                    table 
                        tr
                            th
                                a(href="#")  ангора
                            th 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-4.png", alt="")
                    table 
                        tr
                            th
                                a(href="#")  ангора
                            th 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
        .pagination 
            ul.pag-list
                li
                    a.arrow-left-2(href="#")  
                li
                    a.arrow-left-1(href="#")  
                li
                    a(href="#") 2 
                li
                    a(href="#") 3 
                li
                    a(href="#") 4 
                li
                    a(href="#") 5 
                li
                    a(href="#") 6 
                li
                    a.arrow-right-1(href="#")  
                li
                    a.arrow-right-2(href="#")  
                