main
    .section 
        .wrraper
            .product
                ul.product-list
                    li
                        figure
                            a(href="")
                                img(src="https://github.com/Svithm/svit-tkanun/blob/main/src/img/foto-product-1.jpg?raw=true", alt="фото товару")
                            figcaption 
                                table 
                                    tr
                                        th
                                            a(href="card.html")  ангора
                                        th 100 грн
                                ul.product-character 
                                    li Опис тканини
                                    li Властивості тканини
                                    li Призначення тканини
                                    li Ширина рулону 
                            form(action="" method="POST") 
                                button.button(type="submit") Додати в корзину
                    li 
                        figure
                            a(href="")
                                img(src="https://github.com/Svithm/svit-tkanun/blob/main/src/img/foto-product-2.jpg?raw=true", alt="фото товару")
                            figcaption 
                                    table 
                                        tr
                                            th
                                                a(href="card.html")  ангора
                                            th 100 грн
                                    ul.product-character 
                                        li Опис тканини
                                        li Властивості тканини
                                        li Призначення тканини
                                        li Ширина рулону 
                            form(action="" method="POST") 
                                button.button(type="submit") Додати в корзину
                    li 
                        figure
                            a(href="")
                                img(src="https://github.com/Svithm/svit-tkanun/blob/main/src/img/foto-product-3.jpg?raw=true", alt="фото товару")
                            figcaption 
                                    table 
                                        tr
                                            th
                                                a(href="card.html")  ангора
                                            th 100 грн
                                    ul.product-character 
                                        li Опис тканини
                                        li Властивості тканини
                                        li Призначення тканини
                                        li Ширина рулону 
                            form(action="" method="POST") 
                                button.button(type="submit") Додати в корзину
                    li 
                        figure   
                            a(href="")
                                img(src="https://github.com/Svithm/svit-tkanun/blob/main/src/img/foto-product-4.jpg?raw=true", alt="фото товару")
                            figcaption 
                                    table 
                                        tr
                                            th
                                                a(href="card.html")  ангора
                                            th 100 грн
                                    ul.product-character 
                                        li Опис тканини
                                        li Властивості тканини
                                        li Призначення тканини
                                        li Ширина рулону 
                            form(action="" method="POST") 
                                button.button(type="submit") Додати в корзину
                    li
                        figure
                            a(href="")
                                img(src="https://github.com/Svithm/svit-tkanun/blob/main/src/img/foto-product-1.jpg?raw=true", alt="фото товару")
                            figcaption 
                                    table 
                                        tr
                                            th
                                                a(href="card.html")  ангора
                                            th 100 грн
                                    ul.product-character 
                                        li Опис тканини
                                        li Властивості тканини
                                        li Призначення тканини
                                        li Ширина рулону 
                            form(action="" method="POST") 
                                button.button(type="submit") Додати в корзину
                    li 
                        figure
                            a(href="")
                                img(src="https://github.com/Svithm/svit-tkanun/blob/main/src/img/foto-product-2.jpg?raw=true", alt="фото товару")
                            figcaption 
                                    table 
                                        tr
                                            th
                                                a(href="card.html")  ангора
                                            th 100 грн
                                    ul.product-character 
                                        li Опис тканини
                                        li Властивості тканини
                                        li Призначення тканини
                                        li Ширина рулону 
                            form(action="" method="POST") 
                                button.button(type="submit") Додати в корзину
                    li 
                        figure
                            a(href="")
                                img(src="https://github.com/Svithm/svit-tkanun/blob/main/src/img/foto-product-3.jpg?raw=true", alt="фото товару")
                            figcaption 
                                    table 
                                        tr
                                            th
                                                a(href="card.html")  ангора
                                            th 100 грн
                                    ul.product-character 
                                        li Опис тканини
                                        li Властивості тканини
                                        li Призначення тканини
                                        li Ширина рулону 
                            form(action="" method="POST") 
                                button.button(type="submit") Додати в корзину
                    li 
                        figure
                            a(href="")
                                img(src="https://github.com/Svithm/svit-tkanun/blob/main/src/img/foto-product-4.jpg?raw=true", alt="фото товару")
                            figcaption 
                                    table 
                                        tr
                                            th
                                                a(href="card.html")  ангора
                                            th 100 грн
                                    ul.product-character 
                                        li Опис тканини
                                        li Властивості тканини
                                        li Призначення тканини
                                        li Ширина рулону 
                            form(action="" method="POST") 
                                button.button(type="submit") Додати в корзину
                    li
                        figure
                            a(href="")
                                img(src="https://github.com/Svithm/svit-tkanun/blob/main/src/img/foto-product-1.jpg?raw=true", alt="фото товару")
                            figcaption 
                                    table 
                                        tr
                                            th
                                                a(href="card.html")  ангора
                                            th 100 грн
                                    ul.product-character 
                                        li Опис тканини
                                        li Властивості тканини
                                        li Призначення тканини
                                        li Ширина рулону 
                            form(action="" method="POST") 
                                button.button(type="submit") Додати в корзину
                    li 
                        figure
                            a(href="")
                                img(src="https://github.com/Svithm/svit-tkanun/blob/main/src/img/foto-product-2.jpg?raw=true", alt="фото товару")
                            figcaption 
                                    table 
                                        tr
                                            th
                                                a(href="card.html")  ангора
                                            th 100 грн
                                    ul.product-character 
                                        li Опис тканини
                                        li Властивості тканини
                                        li Призначення тканини
                                        li Ширина рулону 
                            form(action="" method="POST") 
                                button.button(type="submit") Додати в корзину
                    li 
                        figure
                            a(href="")
                                img(src="https://github.com/Svithm/svit-tkanun/blob/main/src/img/foto-product-3.jpg?raw=true", alt="фото товару")
                            figcaption 
                                    table 
                                        tr
                                            th
                                                a(href="card.html")  ангора
                                            th 100 грн
                                    ul.product-character 
                                        li Опис тканини
                                        li Властивості тканини
                                        li Призначення тканини
                                        li Ширина рулону 
                            form(action="" method="POST") 
                                button.button(type="submit") Додати в корзину
                    li 
                        figure
                            a(href="")
                                img(src="https://github.com/Svithm/svit-tkanun/blob/main/src/img/foto-product-4.jpg?raw=true", alt="фото товару")
                            figcaption 
                                    table 
                                        tr
                                            th
                                                a(href="card.html")  ангора
                                            th 100 грн
                                    ul.product-character 
                                        li Опис тканини
                                        li Властивості тканини
                                        li Призначення тканини
                                        li Ширина рулону 
                            form(action="" method="POST") 
                                button.button(type="submit") Додати в корзину
            .pagination 
                ul.pag-list
                    li
                        a.arrow-left-2(href="#")  
                    li
                        a.arrow-left-1(href="#")  
                    li
                        a(href="#") 2 
                    li
                        a(href="#") 3 
                    li
                        a(href="#") 4 
                    li
                        a(href="#") 5 
                    li
                        a(href="#") 6 
                    li
                        a.arrow-right-1(href="#")  
                    li
                        a.arrow-right-2(href="#")  
                    