.section 
    .wrraper
        .product
            ul.product-list
                li 
                    a(href="")
                        img(src="../img/product-2.png", alt="")
                    p.product-name 
                        a.heading(href="#") ангора
                        a.price(href="#") 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-2.png", alt="")
                    p.product-name 
                        a.heading(href="#") атлас
                        a.price(href="#") 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-3.png", alt="")
                    p.product-name 
                        a.heading(href="#") велюр
                        a.price(href="#") 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-4.png", alt="")
                    p.product-name 
                        a.heading(href="#") шкіра
                        a.price(href="#") 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/product-2.png", alt="")
                    p.product-name 
                        a.heading(href="#") ангора
                        a.price(href="#") 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-2.png", alt="")
                    p.product-name 
                        a.heading(href="#") атлас
                        a.price(href="#") 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-3.png", alt="")
                    p.product-name 
                        a.heading(href="#") велюр
                        a.price(href="#") 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-4.png", alt="")
                    p.product-name 
                        a.heading(href="#") шкіра
                        a.price(href="#") 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/product-2.png", alt="")
                    p.product-name 
                        a.heading(href="#") ангора
                        a.price(href="#") 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-2.png", alt="")
                    p.product-name 
                        a.heading(href="#") атлас
                        a.price(href="#") 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-3.png", alt="")
                    p.product-name 
                        a.heading(href="#") велюр
                        a.price(href="#") 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                li 
                    a(href="")
                        img(src="../img/foto-product-4.png", alt="")
                    p.product-name 
                        a.heading(href="#") шкіра
                        a.price(href="#") 100 грн
                    ul.product-character 
                        li Опис тканини
                        li Властивості тканини
                        li Призначення тканини
                        li Ширина рулону 
                    form(action="" method="POST") 
                        button.button(type="submit") Додати в корзину
                