doctype html
html(lang="en")
    head
        include components/meta
        title Купити такину Ангора Світ Тканин Хмельницький
        include components/link
        
    body 
        include components/vars
        include components/mixins
        include components/header
        include components/product-card
        include components/footer