doctype html
html(lang="en")
    head
        include components/meta
        title Світ Тканин доставка тканин компаніями перевізниками
        include components/link
        
    body 
        include components/vars
        include components/mixins
        include components/header-delivery
        include components/delivery-content
        include components/footer