doctype html
html(lang="en")
    head
        include components/meta
        title Світ Тканин купити тканини оптом та в роздріб Хмельницький 
        include components/link
    body 
        
        
        include components/vars
        include components/mixins
        include components/header
        include components/product
        include components/footer