doctype html
html(lang="uk")
    head
        include components/meta
        title Новини, акції компанії Світ Тканин Хмельницький
        include components/link
        
    body 
        include components/vars
        include components/mixins
        include components/header-news
        include components/news-content
        include components/footer
        script(src="js/script.js")