doctype html
html(lang="uk")
    head
        include components/meta
        title Нові надходження тканин, новина компанії Світ Тканин
        include components/link
        
    body 
        include components/vars
        include components/mixins
        include components/header-news
        include components/news-page
        include components/footer
        script(src="js/script.js")