doctype html
html(lang="en")
    head
        include components/meta
        title Svit tkanin
        include components/link
        
    body 
        include components/vars
        include components/mixins
        include components/header-news
        include components/footer