doctype html
html(lang="uk")
    head
        include components/meta
        title Інформація оплати тканин в інтернет магазині Світ Тканин
        include components/link
        
    body 
        include components/vars
        include components/mixins
        include components/header-payment
        include components/payment-content
        include components/footer
        script(src="js/script.js")