doctype html
html(lang="uk")
    head
        include components/meta
        title Розпродаж
        include components/link
    body 
        include components/vars
        include components/mixins
        include components/header-orange
        include components/product-orange
        include components/footer
        