.header-bottom-line-delivery
    margin: 0
    background-color: #ef4a23
.fabric-catalog-delivery
    a
        &::before
            content: ''
            position: absolute
            width: 56px
            height: 56px
            background-image: url(https://github.com/Svithm/svit-tkanun/blob/42ba2c67d8350b92da2a0fd614da97efcda2072d/src/img/delivery.svg?raw=true)
            right: 15px
            top: 10px
    .fabric-catalog
        a
            padding: 14px 162px 14px 20px
.delivery-content
    p 
        margin: 0
        font-size: 18px
        letter-spacing: 0px
        color: #666666
        font-weight: 500
.delivery-content
    .text-bottom
        margin-bottom: 50px
    .delivery-company
        margin: 90px 0
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        img
            padding: 20px 20px 20px 0
            &:last-child
                padding-right: 0
        @media screen and ( max-width: 1000px )
            justify-content: space-around