.footer-line
    position: relative
    background-color: #bd8ed2
    border-bottom: 2px solid #fff
    margin-bottom: 25px
    &::before
        content: ''
        position: absolute
        width: 100%
        bottom: 5px
        border-top: 2px dashed #fff
    &::after
        content: ''
        position: absolute
        width: 100%
        top: 5px
        border-bottom: 2px dashed #fff
    p
        margin: 0
        padding: 46px 0
    .wrraper
        display: flex
        justify-content: space-between
    
.working-time
    font-size: 18px
    letter-spacing: 1px
    color: #fff
    font-weight: 700
    text-decoration: none