.footer-line
    clear: both
    position: relative
    background-color: #bd8ed2
    border-bottom: 2px solid #fff
    margin-bottom: 25px
    &::before
        content: ''
        position: absolute
        width: 100%
        bottom: 5px
        border-top: 2px dashed #fff
    &::after
        content: ''
        position: absolute
        width: 100%
        top: 5px
        border-bottom: 2px dashed #fff
    p,
    .location
        margin: 0
        padding: 46px 0
    .wrraper
        display: flex
        justify-content: space-between
        align-items: center
    @media screen and ( max-width: 856px )
        .wrraper
            flex-direction: column
        p 
            padding: 0
        .working-time
            padding-top: 20px
        .location
            padding: 10px 0 10px 20px
        .tel
            padding-bottom: 20px
    
.working-time
    font-size: 18px
    letter-spacing: 1px
    color: #fff
    font-weight: 700
    text-decoration: none