.header
    margin: 0 auto
.top-line
    margin-top: 35px
    margin-bottom: 58px
    position: relative
    background-color: #bd8ed2
    z-index: 1
    &::before
        content: ''
        position: absolute
        width: 100%
        bottom: 5px
        border-top: 2px dashed #fff
    &::after
        content: ''
        position: absolute
        width: 100%
        top: 5px
        border-bottom: 2px dashed #fff 
    @media screen and ( max-width: 970px )
         margin-top: 0
         margin-bottom: 12px
.line
    padding-top: 5px
    padding-bottom: 5px
    height: 97px
    border: 1px dashed #fff 
.top
    display: flex
    justify-content: space-between
    position: relative
    @media screen and ( max-width: 970px )
        flex-direction: column
        align-items: center
.top-left
    display: flex
    justify-content: space-between
    width: 470px
    @media screen and ( max-width: 1200px )
        justify-content: end
    @media screen and ( max-width: 970px )
        width: unset
        flex-direction: column
        align-items: center
        
.lang
    padding-top: 35px
    a
        display: inline-block
        padding-right: 6px
        font-size: 14px
        letter-spacing: 1px
        color: #fff
        font-weight: 700
        text-decoration: none
        text-transform: uppercase
    @media screen and ( max-width: 970px )
        padding-top: 14px
.ukr
    padding: 4px
    border: 1px dashed #fff
.rus
        padding-left: 6px
.tel
    display: flex
    flex-direction: column
    padding: 20px 50px
    
    a
        display: inline-block
        position: relative
        text-decoration: none
        letter-spacing: 1px
        color: #fff
        font-weight: 700
        &:nth-child(2)
            &::before
                content: ''
                position: absolute
                width: 14px
                height: 22px
                top: -1px
                left: -24px
                background-image: url(../img/tel.svg)
    @media screen and ( max-width: 970px )
        padding: 20px 0 20px 25px 
.logo
    position: absolute
    top: -35px
    right: 50%
    transform: translateX(148px)
    z-index: 2
    a
        display: inline-block
        &::before
            content: ''
            position: absolute
            width: calc(100% - 22px)
            height: 150px
            border: 2px dashed #4058a6
            top: 8px
            left: 9px
    img
        height: 167px 
        background-color: #fff  
        border: 2px dashed #4058a6
    @media screen and ( max-width: 970px )
        padding-top: 20px
        position: static
        transform: translateX(0px)
        order: -1
        a
            &::before
                width: 276px
                top: 28px
        
.location
    padding-top: 37px
    width: 470px
    text-align: center
    @media screen and ( max-width: 1200px )
        text-align: right
    a
        display: inline-block
        position: relative
        font-size: 14px
        text-decoration: none
        letter-spacing: 1px
        color: #fff
        font-weight: 700
        &::before
            content: ''
            position: absolute
            width: 19px
            height: 26px
            top: -6px
            left: -28px
            background-image: url(../img/loc.svg)
    @media screen and ( max-width: 970px )
        width: unset
        padding: 0 0 20px 30px
.burger
    display: none
    padding: 4px
    width: 40px
    height: 40px
    background-color: #bd8ed2
    line-height: 0
    box-sizing: border-box
    text-align: center
    span
        display: inline-block
        margin: 4px 0
        height: 3px
        width: 80%
        background-color: #fff
    @media screen and ( max-width: 1200px )
        display: block
        margin-bottom: 10px
.menu
    margin-bottom: 28px
    ul
        display: flex
        justify-content: space-between
        list-style: none
        padding-left: 0
        margin: 0
        li
            &:nth-child(2) a 
                background-color: #d0db2a
            &:nth-child(3) a 
                background-color: #ffcc02
            &:nth-child(4) a 
                background-color: #e78824
            &:nth-child(5) a 
                background-color: #ef4a23
        a 
            display: inline-block
            position: relative
            padding: 10px
            width: 200px
            text-align: center
            text-decoration: none
            font-size: 24px
            font-weight: 700
            letter-spacing: 1px
            border-radius: 10px
            background-color: #6ebd44
            color: #fff
            z-index: 10
            transition: all .4s ease
            &:hover
                transform: scale(1.06)
    @media screen and ( max-width: 1200px )
        display: none
        
.header-bottom-line
    background-color: #6ebd44
    margin-bottom: 100px
    .wrraper
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        @media screen and ( max-width: 892px )
            justify-content: center
.fabric-catalog
    margin: 12px 0 12px 0
    a
        display: inline-block
        position: relative
        padding: 14px 100px 14px 20px
        font-size: 36px
        font-weight: 700
        letter-spacing: 1px
        color: #fff
        text-decoration: none
        border: 2px dashed #fdfdfd
        &::before
            content: ''
            position: absolute
            width: 65px
            height: 49px
            background-image: url(../img/cloth.svg)
            right: 15px
            top: 10px 
    @media screen and ( max-width: 872px )
        a
            padding: 5px 100px 5px 30px
            &::before
                top: 2px
    @media screen and ( max-width: 450px )
        a
            padding: 0 100px 0 30px
            &::before
                top: 18px
.cart
    display: flex
    // padding-left: 20px
    .basket
        padding-top: 41px
        a
            display: inline-block
            position: relative
            padding-right: 72px
            font-size: 16px
            color: #fff
            font-weight: 700
            text-decoration: none
            letter-spacing: 1px
            &::before
                content: ''
                position: absolute
                width: 30px
                height: 30px
                top: -7px
                right: 30px
                background-image: url(../img/basket.png)
    @media screen and ( max-width: 872px )
        padding-bottom: 10px
        .basket
            padding-top: 8px
    @media screen and ( max-width: 355px )
        .basket    
            a
                padding-right: 24px
                &::before
                    display: none

.search
    padding-top: 34px
    form
        position: relative
        width: 282px
        margin: 0 auto
    input
        background-color: transparent
        color: #fff
        width: 100%
        height: 32px
        padding-left: 10px
        border: 2px solid #fff
        outline: none
        &::-webkit-input-placeholder
            color: #fff
    @media screen and ( max-width: 872px )
        padding-top: 0
    @media screen and ( max-width: 452px )
        form
            width: unset

    button
        position: absolute
        top: 2px
        right: 2px
        width: 40px
        height: 28px
        border: none
        border-left: 1px solid #fff
        background: transparent
        cursor: pointer
        &:hover
            background: #fff
        &::before
            content: ''
            position: absolute
            width: 21px
            height: 21px
            top: 3px
            right: 9px
            background-image: url(../img/dandruff.png)

.items-cart 
    // display: none

.basket-title
    background-color: #6ebd44
    h2
        margin: 0
        padding: 28px 0
        font-size: 36px
        letter-spacing: 1px
        color: #fff
        font-weight: 700
        text-align: center

.content-wrraper
    &::-webkit-scrollbar
        width: 10px
    &::-webkit-scrollbar-track
        background: #f1f1f1
    &::-webkit-scrollbar-track
    &::-webkit-scrollbar-track-piece
    &::-webkit-scrollbar-thumb
        border-radius: 2px
        background-color: #d1d1d1
    &::-webkit-scrollbar-corner
    &::-webkit-resizer

.basket-content
    display: flex
    justify-content: space-between
    align-items: center
    padding: 16px 0
    position: relative
    img
        width: 150px
        height: 150px
    p
        margin: 0
    a
        display: inline-block
    &::-webkit-scrollbar
        width: 7px
        background-color: #f9f9fd

.basket-desc
    height: 163px
    h4
        margin: 0
        font-size: 30px
        letter-spacing: 1px
        color: #4281a4
        font-weight: 400
    ul
        padding: 0
        font-size: 14px
        letter-spacing: 0px
        color: #4281a4
        font-weight: 500
        list-style: none
.col
    display: flex
    justify-content: space-between
    align-items: center
    width: 464px

.bin
    img
        width: 27px
        height: 29px
    a
        display: inline-block

.basket-price
    font-size: 30px
    letter-spacing: 1px
    color: #4281a4
    font-weight: 700
.product-cheking
    display: flex
.basket-button
    position: relative
    width: 30px
    height: 30px
    background-color: #fff
    border: 2px solid #6ebd44
    outline: none
    &:hover
        background-color: #6ebd44
    &:hover::before,
    &:hover::after
        background-color: #fff
        
.minus
    &::before
        content: ''
        position: absolute
        width: 10px
        height: 2px
        top: 12px
        left: 8px
        background-color: #548bab
.plus
    &::before
        content: ''
        position: absolute
        width: 2px
        height: 10px
        top: 8px
        left: 12px
        background-color: #548bab
    &::after
        content: ''
        position: absolute
        width: 10px
        height: 2px
        top: 12px
        left: 8px
        background-color: #548bab
.custom-input
    margin: 0 18px
    width: 42px
    height: 24px
    border: 2px solid #6ebd44
    color: #548bab
    text-align: center
    outline: none

.order-price
    display: flex
    justify-content: flex-end
    align-items: center
    padding: 50px 0 25px 0
    transform: translateX(-100px)
    h4
        margin: 0
        font-size: 24px
        letter-spacing: 1px
        color: #4281a4
        font-weight: 700
        text-align: center
    p 
        margin: 0

.basket-bottom
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 50px

.turn-back
    a
        padding: 12px
        font-size: 14px
        letter-spacing: 0px
        color: #4281a4
        font-weight: 500
        text-decoration: none
        border: 1px solid #6ebd44
        border-radius: 5px
        transition: all .5s ease
        &:hover
            color: #fff
            background-color: #6ebd44

.place-order
    transform: translateX(-100px)
    .col
        justify-content: center
    a
        display: inline-block
        padding: 14px 0
        width: 100%
        font-size: 24px
        letter-spacing: 1px
        color: #fff
        font-weight: 700
        background-color: #6ebd44
        border: 2px solid #6ebd44
        border-radius: 10px
        text-decoration: none
        text-transform: uppercase
        text-align: center
        transition: all .5s ease
        &:hover
            color: #6ebd44
            background-color: #fff
            border: 2px solid #6ebd44




