.header-bottom-line-news
    background-color: #d0db2a
.fabric-catalog-news
    a
        &::before
            content: ''
            position: absolute
            width: 54px
            height: 54px
            background-image: url(../img/news.svg)
            right: 15px
            top: 10px