.header-bottom-line-news
    background-color: #d0db2a
    margin: 0

.fabric-catalog-news
    a
        &::before
            content: ''
            position: absolute
            width: 54px
            height: 54px
            background-image: url(../img/news.svg)
            right: 15px
            top: 10px
        @media screen and ( max-width: 872px )
            &::before
                top: 10px
    p 
        margin: 0
    span
        color: #4281a4
    .fabric-catalog
        a
            padding: 14px 100px 14px 20px
        @media screen and ( max-width: 768px )
            width: 100%
            a
                display: block
                &::before
                    top: 10px

    .search
        button
            &:hover::before
                background-image: url(../img/dandruff-y.svg)


.news-content
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    @media screen and ( max-width: 1041px )
        justify-content: center
.box
    text-align: center
    border: 2px solid #d0db2a
    width: 330px
    transition: all 0.3s ease
    &:hover
        transform: scale(1.02)
    a
        display: inline-block
        padding: 10px 80px
        font-size: 20px
        letter-spacing: 1px
        color: #4281a4
        font-weight: 600
        text-decoration: none
        border: 3px solid #d0db2a
        border-radius: 10px
        transition: all 0.3s ease
        &:hover
            background-color: #d0db2a
            color: #fff
        @media screen and ( max-width: 360px )
            padding: 10px 60px
    img 
        display: block
        margin: 20px 26px
        width: 276px
        height: 240px
        @media screen and ( max-width: 360px )
            margin: 0
            width: 100%
            height: auto
        
    .detail
        margin: 0
        padding-bottom: 20px
    @media screen and ( max-width: 1050px )
        margin: 10px
    @media screen and ( max-width: 360px )
        width: 100%
    

.news-title,
.news-date
    margin: 0
    margin-top: 18px
    padding: 8px 0
    font-size: 20px
    letter-spacing: 1px
    color: #4281a4
    font-weight: 600
    background-color: #d0db2a
.news-desc
    margin: 0
    padding: 18px 15px
    font-size: 18px
    color: #666666
    font-weight: 500
    text-align: left
//сторінка з новиною
.news-page-cont
    h1 
        margin-bottom: 38px
        @media screen and ( max-width: 1000px )
            font-size: 26px
    img
        width: 576px
        height: 304px
        @media screen and ( max-width: 1000px )
            width: 100%
            height: auto
            padding-right: 0
.page-cont
    img
        float: left
        padding-right: 62px
    margin-bottom: 50px
    p 
        margin: 0
    .p1
        padding-top: 20px
        padding-bottom: 46px
    @media screen and ( max-width: 1000px )
        display: flex
        flex-direction: column
        align-items: center
.page-text
    padding-right: 18px
    font-size: 18px
    line-height: 27px
    color: #666666
    font-weight: 500
    @media screen and ( max-width: 1000px )
        padding-right: 0
.pagination
    .pag-list-news
        .arrow-left-2,
        .arrow-left-1,
            &::before
                border-top: 2px solid #d0db2a
                border-left: 2px solid #d0db2a
            &::after
                border-top: 2px solid #d0db2a
                border-left: 2px solid #d0db2a
            &:hover::before
                border-top: 2px solid #fff
                border-left: 2px solid #fff
            &:hover::after
                border-top: 2px solid #fff
                border-left: 2px solid #fff
        .arrow-right-2,
        .arrow-right-1,
            &::before
                border-top: 2px solid #d0db2a
                border-right: 2px solid #d0db2a
            &::after
                border-top: 2px solid #d0db2a
                border-right: 2px solid #d0db2a
            &:hover::before
                border-top: 2px solid #fff
                border-right: 2px solid #fff
            &:hover::after
                border-top: 2px solid #fff
                border-right: 2px solid #fff       
        a
            border: 2px solid #d0db2a
            &:hover
                background-color: #d0db2a
                color: #fff