.header-bottom-line-payment
    margin: 0
    background-color: #e78824
.fabric-catalog-payment
    a
        padding: 14px 130px 14px 20px
        &::before
            content: ''
            position: absolute
            width: 100px
            height: 100px
            background-image: url(../img/payment.svg)
            right: -2px
            top: -14px
.cart 
    .basket
        padding-top: 23px
        a 
            &:before
                top: 10px