.orange
    background-color: #ffcc02
    button
        &:hover::before
            background-image: url(../img/dandruff-o.svg)

.fabric-catalog-orange
    a
        &::before
            width: 64px
            height: 64px
            top: 4px
            right: 0
            background-image: url(../img/sale.svg)
        @media screen and ( max-width: 872px )
            padding: 5px 100px 5px 10px
            &::before
                top: -5px
        @media screen and ( max-width: 450px )
            &::before
                top: -5px
    &::before
        background-image: url(/img/sale.svg)
    
             

.discount
    position: relative
    &::before
        content: '-50%'
        position: absolute
        padding-top: 5px
        width: 90px
        height: 29px
        right: 0
        color: #4281a4
        background-color: #fff
        text-align: center
        font-size: 20px
        letter-spacing: 1px
        font-weight: 600
.pagination
    .pag-list-orange
        a
            border: 2px solid #ffcc02
            &:hover
                background-color: #ffcc02